* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Muli';
    height: 4042px;
    width: 1440px;
}

.navigation {
    background-color: #F4F6F7;
    padding-left: 135px;
    padding-right: 135px;
    min-width: 1440px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.fluffy-logo {
    display: flex;
    align-self: flex-start;
    margin-left: 50px;
    top: 30px;
    min-width: 130px;
    min-height: 36px;
}

.menu {
    display: flex;
    display: inline-block;
    flex-direction: row;
    align-content: flex-end;
    font-size: 14px;
    font-style: bold;
    text-decoration: none;

}

.navlink {
    text-decoration: none;
    list-style-type: none;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    color: black;
  }

  .navlink:hover {
    color: #ff7f57;
    border-bottom: black;
  }

  /*Section one start*/

  .containers {
      background-color:#F4F6F7;
      margin: 0;
      padding: 40px;
      max-width: 1440px;
      max-height: 810px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
  }

  .container-one{
      max-width: 470px;
      min-height: 261px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: flex-start;
      align-content: center;
  }

  .container-one--paragraph {
      display: flex;
      align-self: flex-start;
      font-size: 16px;
      color: #2557AB;
      margin: 5px;
  }

  .container-one--heading {
      font-size: 46px;
      font-weight: bold;
      color: #13253A;
      padding: 0px;
      margin: 0px;
  }

  .container-one--longparagraph {
      width: 470px;
      font-size: 16px;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 20px;
      line-height: 2;
  }

  .container-one--button{
      background-color: #FF7F57;
      width: 336px;
      height: 60px;
      font-size: 17px;
      font-weight: bold;
      color: white;
      border-radius: 4px;
      border-style: none;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .container-one--button:hover {
      transform: scale(1.1);
  }

  /*Second Section*/ 

  .container-two {
      background-color: white;
      max-height: 900px;
      margin-bottom: 50px;
  }

  .container-two--firstsection {
      display: flex;
      align-items: center;
      flex-direction: column;
  }

  .container-two--paragraph {
      color: #2557AB;
      font-size: 16px;
      margin-top: 80px;
  }

  .container-two--heading {
      font-size: 38px;
      margin-top: 0px;
      margin-bottom: 40px;
  }

.container-two--secondsection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ultra, .winning, .support {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.element-paragraph {
    max-width: 370px;
    min-height: 81px;
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    text-align: center;
}

/*Third Section*/

.experience_banner {
height: 205px;
width: 1440px;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
background: #F4F6F7;
}

.experience_item {
    text-align: left;
    margin-right: 60px;
    margin-left: 60px;
}

.experience_item__heading--black {
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 63px;
    color: #13253A;
    margin: 0;
    display: inline-flex;
}

.experience_item__heading--orange {
    font-size: 46px;
    color: #FF7F57;
}

.experience_item__text {
    font-size: 16px;
    color: #2557AB;
}


/*Forth Section*/

.about {
    height: 699px;
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_banner {
    width: 970px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 0px;
}

.about_right__headings {
    align-content: center;
}

.about_right__heading--black {
    font-size: 38px;
    font-weight: bold;
    line-height: 48px;
    margin-top: 0px;
    margin-bottom: 34px;
}

.about_right__heading--blue {
    padding-left: 20px;
    margin-bottom: 0;
    font-size: 16px;
    color: #2557AB;
}

.about_text {
    display: flex;
}

.about_left {
    line-height: 1.5;
}

.about_left__heading--italic {
    font-size: 20px;
    font-style: italic;
}

.about_right {
    margin-right: 30px;
    margin-left: 40px;
    padding-top: 0;
    line-height: 1.5;
}

.about_right__logo--image {
    width: 970px;
    height: 50px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.linebreak {
    min-width: 1170px;
    margin-top: 100px;
    border: #dce2e6 1px solid;
}

/*Fifth section Starts here*/

.relax {
    height: 700px;
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.relax_container {
    height: 450px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-bottom: 0;
}

.relax_item {
    display: flex;
    align-content: flex-start;
    max-width: 600px;
}

.relax_item__heading {
    font-size: 38px;
    font-weight: bold;
    align-self: flex-start;
    max-width: 370px;
}

.relax_item__paragraph {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    max-width: 470px;
    align-self: flex-start;
}

.relax_item__container {
    max-width: 470px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.fa-check {
    color: #FF7F57;
    max-width: 470px;
}

.relax_item__list {
    max-width: 470px;
    font-size: 15px;
    font-weight: bold;
}

.relax_container__image {
    display: flex;
    align-content: flex-end;
}

.relax_item__image {
    align-self: flex-end;
}

/* sixth section*/

.start {
    height: 434px;
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ff7f57;
    margin: 0;
}

.start_container {
    width: 770px;
    display: flex;
    align-content: center;
}

.start_item {
    text-align: center;
    color: #F4F6F7;
    margin-top: 0;
    /*should amrgin be 0 in order to move all up?*/
}

.start_item__first--paragraph {
    font-size: 16px;
    font-weight: normal;
    margin-top: 0;
}

.start_item__heading {
    font-size: 46px;
    font-weight: bolder;
    padding: 0;
    margin: 0;
}

.start_item__second--paragraph {
    font-size: 16px;
    line-height: 1.5;
}

.start_item__button {
    background-color: #2557AB;
    height: 60px;
    width: 336px;
    border-radius:2px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    border-style: none;
}

.start_item__button:hover {
    transform: scale(1.1);
}

/*seventh section*/

.contact {
    height: 817px;
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #11364E;
    margin: 0;
}

.contact_container {
    display: flex;
}

.contact_item {
    align-self: center;
}

.contact_item__heading {
    font-size: 38px;
    color: white;
    align-self: center;
}

.subtitle {
    text-align: center;
    margin-bottom: 30px;
    font-size: 38px;
    font-weight: 300;
    color: white;
}

.contact__form {
    display: flex;
    flex-direction: column;
}

.label__element {
    margin-bottom: 10px;
    color: white;
    font-size: 13px;
}

.input__element {
    border: none;
    padding: 6px 0;
    margin-bottom: 40px;
    background-color: #11364E;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: rgba (255, 255, 255, 0.2);
    font-size: 16px;
    resize: none;
}

::placeholder {
    color: rgba(255, 255, 255, 0.2);
    font-size: 16px;
}

.buttonbottom {
    box-shadow: none;
    background-color: #FF7F57;
    color: white;
    width: 370px;
    height: 18px;   
}

.buttonbottom:hover {
    cursor: pointer;
    background-color: white;
    color: #FF7F57;
}

.copyright-box {
    display: flex;
    align-items: center;
    justify-content: center;

}


.copyright {
    display: flex;
    height: 47px;
    width: 1440px;
    justify-content: center;
    align-items: center;
    background: #13253A;
    margin: 0;
    color: white;
    font-size: 12px;
    font-weight: 300;
}

